/Library
/obj
/Logs
/.vs
/Temp
/.vscode
**.DS_Store
/Assets/StreamingAssets/Android
/Assets/StreamingAssets/Android*
/Assets/StreamingAssets/win
/Assets/StreamingAssets/win*
/Assets/StreamingAssets/iOS
/Assets/StreamingAssets/iOS*
/SceneAssetBundle
/outeraddlog
/outeraddlog*
/sandbox
/sandbox*
/outer
/outer*
/Assetbundle*
/TestServer
Assets/Resources/Orcas/Networking*